.main_wrapper {
    width: 160px;
    height: 40px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.thankyou_message::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.thankyou_message {
    width: 100px;
    height: auto;
    background-color: var(--blue);
    position: absolute;
    right: 55px;
    bottom: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    visibility: hidden;
}

.thankyou_message p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

.show {
    visibility: visible;
}

.comment_wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
}

.comment_wrapper p {
    font-size: 1.1rem;
}

.heart_wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 30px;
    object-fit: contain;
    font-size: 1.7rem;
    color: var(--unlike);
    cursor: pointer;
    margin-bottom: 10px;
}

.liked {
    color: var(--like);
    cursor: unset;
}

.icon:hover .tooltip {
    visibility: visible;
}

.count {
    color: rgb(8, 8, 8);
    font-size: .9rem;
}

@media screen and (max-width: 480px) {
    .thankyou_message p {
        font-size: .8rem;
    }
}