.main_container {
    width: 90%;
    min-height: 200px;
    margin: 60px auto;
    padding: 15px;
    font-family: 'Alegreya', serif;
}

.main_comment_display {
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.main_comment_display:nth-child(1) .comment_wrapper {
    background-color: aqua;
}

.title {
    font-size: 3.3rem;
    color: #000;
}

.comment_wrapper {
    width: 60%;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-left: 50px;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

.comment_list {
    list-style: none;
    color: #000;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    position: absolute;
    text-transform: capitalize;
    background-color: var(--blue);
    z-index: 10;
}

.avatar p {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.comment_section {
    width: 80%;
    padding: 10px;
    margin-left: 50px;
}

.name {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
}

.time {
    font-size: .9rem;
    display: inline-block;
    margin-left: 10px;
    list-style: circle;
}

.comment {
    font-size: 1.3rem;
    font-size: 400;
    margin-top: 20px;
}