.main_container {
    width: 100%;
    min-height: 200px;
    margin: 60px auto 0px auto;
    padding: 15px;
    font-family: 'Alegreya', serif;
}

.main_comment_display {
    width: 100%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.main_container .title {
    font-size: 3.3rem;
    color: rgb(0, 0, 0);
}

.comment_wrapper {
    width: 60%;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(189, 189, 189);
    position: relative;
}

.comment_section {
    width: 400px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.comment_list {
    list-style: none;
    color: #000;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-transform: capitalize;
    background-color: var(--blue);
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
}

.time {
    font-size: .9rem;
    display: inline-block;
    margin-left: 10px;
    list-style: circle;
}

.comment_box {
    width: 75%;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    padding: 6px 5px;
    margin: 1px 0 20px 70px;
}

.comment {
    font-size: 1.3rem;
    font-size: 400;
}

.reply_wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
}

.reply_holder {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.reply_text {
    color: var(--blue);
    font-size: 1.3rem;
    cursor: pointer;
}

.reply_form {
    width: 100%;
}

.replay_section {
    width: 70%;
    margin-left: 50px;
    margin-top: 30px;
}

.reply_box {
    width: 75%;
    max-width: 500px;
    height: auto;
    padding: 0px 5px 7px 5px;
    margin: 5px 0 5px 70px;
}

.icon {
    font-size: .7rem;
    color: var(--blue);
    width: 20px;
}

.down {
    margin-bottom: 25px;
}

.share {
    margin-bottom: 13px;
}

@media screen and (max-width:1200px) {
    .comment_wrapper {
        width: 90%;
        margin-left: auto;
        position: relative;
    }
}

@media screen and (max-width:480px) {
    .main_container {
        padding: 1px;
    }
    .main_container .title {
        font-size: 2rem;
        color: rgb(0, 0, 0);
    }
    .comment_wrapper {
        width: 90%;
        margin-left: auto;
        position: relative;
    }
    .comment {
        font-size: 1rem;
    }
    .comment_section {
        width: 100%;
    }
    .comment_list {
        font-size: 1rem;
    }
    .reply_form {
        width: 100%;
    }
    .replay_section {
        width: 95%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .reply_box {
        width: 90%;
        max-width: 500px;
        height: auto;
        padding: 0px 5px 7px 5px;
        margin: 5px 0 5px 20px;
    }
    .reply_wrapper .reply_text {
        font-size: 1.1rem;
    }
    .reply_wrapper .icon {
        font-size: .6rem;
        width: 15px;
    }
    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-transform: capitalize;
        background-color: var(--blue);
        color: #fff;
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}