.footer {
    width: 100%;
    height: auto;
    margin-top: auto;
    position: relative;
    padding: 0px 20px;
    background-color: var(--footerBlue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    list-style: none;
    display: inline-block;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}

.social_media {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.social_media_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.icons {
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
    color: #ffffff;
}

.signup_wrapper {
    width: 470px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.signup_wrapper p {
    font-size: 1.5rem;
    color: var(--white);
}

@media screen and (max-width:1040px) and (orientation:portrait) {
    .footer {
        padding: 0px 10px;
        flex-direction: column;
        gap: 10px;
    }
    .signup_wrapper {
        width: 90%;
        height: 90%;
    }
    .social_media {
        width: 70%;
    }
}

@media screen and (max-width:780px) {
    .footer {
        padding: 0px 10px;
        flex-direction: column;
        gap: 10px;
    }
    .signup_wrapper {
        width: 90%;
        height: 90%;
        align-items: center;
    }
    .social_media {
        width: 90%;
    }
}