.footer {
    width: 100%;
    height: auto;
    position: relative;
    padding: 30px 10px;
    background-color: var(--footerBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_list {
    list-style: none;
    display: inline-block;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
}

.social_media {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.social_media_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.icons {
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
    color: #ffffff;
}

@media screen and (max-width:780px) {
    .social_media {
        width: 90%;
    }
}