.main_container {
    width: 50%;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Alegreya', serif;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}

.label {
    font-size: 1.6rem;
    color: #000;
}

.input {
    height: 40px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    font-weight: 400;
}

.comment {
    width: 500px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.btn {
    padding: 10px 10px;
    background-color: var(--blue);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px 0 50px 0;
    border: none;
    outline: none;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn:hover {
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
}

.emoji {
    position: absolute;
    top: 7px;
    left: 95%;
    font-size: 1.5rem;
    color: var(--blue);
    cursor: pointer;
}

.emoji_picker {
    position: absolute;
    top: 40px;
    left: 28%;
    display: none;
}

.open {
    display: block;
}

.error {
    font-size: 1rem;
    color: red;
    margin-left: 10px;
    visibility: hidden;
}

.show {
    visibility: visible;
}