.recent_blogs_container {
  width: 100%;
  object-fit: contain;
  margin-bottom: 70px;
  position: relative;
}

.landing_img_text {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 20;
}

.landing_img_text p {
  font-size: 2rem;
  color: black;
  font-family: 'Cormorant', serif;
}

.landing_img_text span {
  font-size: 5rem;
  font-weight: bold;
  color: var(--footerBlue);
  font-family: 'Dancing Script', cursive;
}

.img {
  width: 100%;
  height: 100%;
}

.main_content {
  width: 85%;
  min-height: 300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.latest_blogs_wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about_wrapper {
  width: 20%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.latest_title {
  font-size: 3.4rem;
  font-weight: 500;
  letter-spacing: .2rem;
  font-family: 'Cormorant', serif;
  text-align: center;
  margin: auto;
}

.signup_container {
  width: 100%;
  height: 300px;
  background-color: rgb(196, 196, 196);
}

.more_post_btn {
  padding: 5px 15px;
  background-color: var(--blue);
  font-size: 1.6rem;
  color: var(--white);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 13px 1px rgba(77, 77, 77, 0.3);
  box-shadow: 0px 2px 13px 1px rgba(77, 77, 77, 0.3);
}

@media screen and (max-width: 1600px) {
  .main_content {
    width: 90%;
    min-height: 500px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:1200px) {
  .landing_img_text {
    width: 450px;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 20;
  }
  .landing_img_text p {
    font-size: 1.4rem;
  }
  .landing_img_text span {
    font-size: 4rem;
  }
}

@media screen and (max-width:700px) {
  .landing_img_text {
    width: 320px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 20;
  }
  .landing_img_text p {
    font-size: 1.3rem;
  }
  .landing_img_text span {
    font-size: 2.3rem;
  }
}

@media screen and (max-width:580px) and (orientation:portrait) {
  .main_content {
    width: 85%;
    min-height: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .main_content {
    width: 95%;
    min-height: 500px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .latest_title {
    font-size: 1.7rem;
  }
  .landing_img_text {
    width: 180px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 8%;
    z-index: 20;
  }
  .landing_img_text p {
    font-size: .8rem;
  }
  .landing_img_text span {
    font-size: 2rem;
  }
}