.recent_blogs_container {
  width: 100%;
  object-fit: contain;
  margin-bottom: 70px;
  position: relative;
}

.landing_img_text {
  width: 800px;
  height: auto;
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 20;
}

.landing_img_text p {
  font-size: 2rem;
  color: black;
  font-family: 'Cormorant', serif;
  font-weight: 600;
}

.landing_img_text span {
  font-size: 7rem;
  font-weight: bold;
  color: var(--footerBlue);
  font-family: 'Dancing Script', cursive;
}

.img {
  width: 100%;
  height: 100%;
}

.main_content {
  width: 100%;
  min-height: 300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.latest_blogs_wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.about_wrapper {
  width: 20%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.latest_title {
  font-size: 3.4rem;
  font-weight: 500;
  letter-spacing: .2rem;
  font-family: 'Cormorant', serif;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  .main_content {
    margin: 60px auto;
  }
}

@media screen and (max-width:1400px) {
  .landing_img_text {
    width: 800px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 5vw;
    z-index: 20;
  }
  .landing_img_text p {
    font-size: 1.9rem;
  }
  .landing_img_text span {
    font-size: 4rem;
  }
  .newsletter_container {
    width: 750px;
  }
  .newsletter_wrapper {
    width: 100%;
  }
  .newsletter_body_message {
    width: 100%;
  }
}

@media screen and (max-width:1200px) {
  .landing_img_text {
    width: 600px;
    left: 5vw;
  }
  .landing_img_text p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width:900px) {
  .landing_img_text {
    width: 60vw;
    top: 5vh;
    left: 5vw;
  }
  .landing_img_text p {
    font-size: 2.6vw;
  }
  .landing_img_text span {
    font-size: 3.2rem;
  }
}

@media screen and (max-width:580px) and (orientation:portrait) {
  .main_content {
    width: 85%;
    min-height: 300px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .main_content {
    width: 95%;
    min-height: 500px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .latest_title {
    font-size: 1.7rem;
  }
  .landing_img_text {
    width: 70vw;
    top: 11%;
    left: 2%;
  }
  .landing_img_text p {
    font-size: .8rem;
    font-weight: 600;
  }
  .landing_img_text span {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 400px) {
  .landing_img_text p {
    font-size: 3vw;
    font-weight: 600;
  }
  .landing_img_text span {
    font-size: 1.1rem;
    font-weight: bold;
  }
}