.main_container {
    width: 100%;
    height: auto;
    padding: 10px;
    font-family: 'Cormorant', serif;
}

.follow {
    width: 55%;
    height: 150px;
    padding: 10px;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon_container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_holder {
    width: 35px;
    height: 35px;
    background-color: #334f7e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icons {
    width: 100px;
    height: 100px;
    font-size: 1.3rem;
    color: #fff;
}

.about {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.about_image {
    width: 90%;
    object-fit: contain;
    margin-top: 40px;
}

.text {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .11rem;
    color: #000;
    text-align: left;
    margin-top: 20px;
}

.learn_more {
    cursor: pointer;
    color: #2c82d3;
}

.title {
    font-size: 1.6rem;
    font-size: bold;
    text-transform: uppercase;
}