.main_container {
    width: 100%;
    position: relative;
}

.selector_container {
    width: 100%;
    height: 60px;
    padding-left: 5px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.selections {
    font-size: 1.5rem;
    font-family: 700;
    cursor: pointer;
}

.selections:hover {
    text-decoration: underline;
}

.selected {
    text-decoration: underline;
}

.blog_container {
    width: 100%;
    height: auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid#000;
    gap: 40px;
}

.blog_wrappers {
    width: 500px;
    height: 500px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 70px;
}

.more_post_btn {
    padding: 7px 20px;
    font-size: clamp(1.2rem, 1.3vw, 1.4vw);
    color: var(--white);
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: var(--blue);
}

@media screen and (max-width: 900px) {
    .main_container {
        width: 100%;
    }
    .selector_container {
        gap: 15px;
    }
    .selections {
        font-size: 1.2rem;
        font-family: 700;
        cursor: pointer;
    }
    .blog_container {
        justify-content: flex-start;
        gap: 50px;
    }
}

/*  media query for ipad*/

@media screen and (max-width: 1040px) and (orientation:landscape) {
    .blog_container {
        width: 95%;
        justify-content: space-between;
        align-items: center;
    }
}

/*  media query for ipad portrait*/

@media screen and (max-width: 780px) and (orientation:portrait) {
    .blog_container {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .selector_container {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    .main_container {
        width: 100%;
    }
    .selector_container {
        width: 80%;
        gap: 15px;
        margin: auto;
    }
    .selections {
        font-size: 1rem;
        font-family: 700;
        cursor: pointer;
    }
    .blog_container {
        justify-content: center;
        gap: 30px;
        margin: auto;
    }
}