.main_container {
    width: 100%;
    position: relative;
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.selector_container {
    width: 97%;
    height: auto;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 70px;
}

.more_post_btn {
    padding: 7px 20px;
    font-size: clamp(1.2rem, 1.3vw, 1.4vw);
    color: var(--white);
    border: none;
    outline: none;
    margin-top: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: var(--blue);
    -webkit-box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 9px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:1820px) {
    .selector_container {
        width: 75%;
        justify-content: space-evenly;
        gap: 60px;
    }
}

/*  media query for ipad*/

@media screen and (max-width: 1040px) and (orientation:landscape) {
    .selector_container {
        width: 90%;
        gap: 60px;
    }
}

/*  media query for ipad portrait*/

@media screen and (max-width: 1010px) and (orientation:portrait) {
    .selector_container {
        width: 98%;
        gap: 60px;
    }
}

@media screen and (max-width: 780px) {
    .selector_container {
        width: 98%;
        gap: 15px;
        justify-content: center;
    }
}