.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding-left: 50px;
    padding-right: 50px;
}

.landing_image_container {
    width: 100%;
    height: 20vh;
    min-height: 15vh;
    position: relative;
    background-color: var(--white);
}

.nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.nav_link_container {
    width: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav_list {
    list-style: none;
    display: inline-block;
    font-size: 1.9rem;
    font-weight: 400;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Cormorant', serif;
}

.nav_list:hover {
    text-decoration: underline;
}

.social_media {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    color: #000000;
}

.facebook:hover {
    color: var(--facebook);
}

.twitter:hover {
    color: var(--twitter);
}

.instagram:hover {
    color: var(--instagram);
}

.pintrest:hover {
    color: var(--pintrest)
}

.main_logo {
    width: 500px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mini_logo {
    width: 12vw;
    object-fit: contain;
    opacity: 0;
}

.show_mini_logo {
    display: none;
}

.show {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.hamburger_wrapper {
    width: 60px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.mini_navbar_icon {
    width: 30px;
    font-size: 1.9rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .hamburger_wrapper {
        display: flex;
    }
    .landing_image_container {
        display: none;
    }
    .header {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: var(--white);
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav {
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 60px;
        background-color: var(--white);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 40px 20px;
        transform: translateX(-360px);
        -webkit-box-shadow: 4px 13px 21px 2px rgba(0, 0, 0, 0.23);
        box-shadow: 4px 13px 21px 2px rgba(0, 0, 0, 0.23);
        z-index: 50;
    }
    .open {
        transform: translateY(0px);
        transition: all .5s ease-in;
    }
    .nav_link_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        gap: 25px;
        background-color: var(--white);
    }
    .nav_list {
        list-style: none;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-weight: 600;
        cursor: pointer;
        font-family: 'Cormorant', serif;
    }
    .mini_logo {
        display: none;
    }
    .social_media {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }
    .show_mini_logo {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        width: 170px;
        object-fit: contain;
    }
}

@media screen and (max-width: 480px) {
    .show_mini_logo {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        width: 150px;
        object-fit: contain;
    }
}