.main_container {
    width: 100%;
    height: 300px;
}

.wrapper {
    width: 70%;
    height: 200px;
    margin: 150px auto 0 auto;
    text-align: center;
    font-family: 'Cormorant', serif;
}

.title {
    font-size: 3.5rem;
    font-weight: 500;
    color: black;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 2.5rem;
    }
}