.main_wrapper {
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant', serif;
}

.title {
    font-size: 2.8rem;
    font-weight: bold;
    color: #393E41;
}

.sub_wrapper {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.date {
    font-size: 1.2rem;
    color: #393E41;
    font-weight: 500;
    margin-right: 10px;
}

.categories {
    min-width: 10%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.categories_text {
    color: #393E41;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

.categories_text:hover, .categories_text:focus {
    color: #334f7e;
}

.body {
    width: 90%;
    height: auto;
    padding: 10px;
    margin: auto;
}

.landing_image {
    width: 80%;
    object-fit: cover;
    margin-top: 20px;
}

.main_img_link {
    font-size: 1.1rem;
    font-weight: 500;
}

.main_img_link a {
    cursor: pointer;
    text-decoration: underline;
}

.blog_container {
    width: 65%;
    max-width: 1300px;
    height: auto;
    padding: 15px;
    margin-top: 90px;
}

/* This will center the images in the body */

.blog_container figure {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This is the img that is in the body */

.blog_container figure img {
    max-width: 80%;
    object-fit: contain;
}

.blog_container p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-family: 'Alegreya', serif;
}

.blog_container ol li {
    margin-bottom: 20px;
    margin-left: 60px;
    font-size: 1.3rem;
    font-family: 'Alegreya', serif;
}

.blog_container ul li {
    margin-bottom: 20px;
    margin-left: 60px;
    font-size: 1.3rem;
    font-family: 'Alegreya', serif;
}

.blog_container h1 {
    font-size: 2.2rem;
}

.blog_container h2 {
    font-size: 1.7rem;
}

.blog_container h3 {
    font-size: 1.6rem;
}

.blog_container h4 {
    font-size: 1.5rem;
}

.blog_container a {
    color: var(--blue);
}

.share {
    width: 100%;
    margin: 15px 0;
    color: black;
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
}

.share_wrapper {
    width: 220px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}

.share_wrapper_text {
    margin-right: 10px;
    font-size: 1.9rem;
    color: #000;
}

.heart_container {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.youtube_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}

.youtube {
    width: 800px;
    height: 550px;
}

@media screen and (max-width:980px) {
    .title {
        font-size: 2.5rem;
    }
    .landing_image {
        width: 90%;
        object-fit: cover;
        margin-top: 20px;
    }
    .blog_container {
        width: 95%;
        padding: 5px;
        margin-top: 90px;
    }
    .blog_container h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .blog_container h2 {
        font-size: 1.4rem;
    }
    .blog_container h3 {
        font-size: 1.3rem;
    }
    .blog_container h4 {
        font-size: 1.2rem;
    }
    .share {
        width: 100%;
        margin: 15px 0;
        color: black;
        font-size: 1.4rem;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 10px;
    }
    .share_wrapper {
        width: 220px;
        margin: 10px auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: auto;
    }
    .share_wrapper_text {
        margin-right: 10px;
        font-size: 1.9rem;
        color: #000;
    }
}

@media screen and (max-width:600px) {
    .youtube {
        width: 90%;
        height: 300px;
    }
}

@media screen and (max-width:480px) {
    .share {
        justify-content: center;
    }
    .title {
        font-size: 1.7rem;
    }
    .blog_container h1 {
        font-size: 1.5rem;
    }
    .blog_container h2 {
        font-size: 1.4rem;
    }
    .blog_container h3 {
        font-size: 1.3rem;
    }
    .blog_container h4 {
        font-size: 1.2rem;
    }
    .blog_container ol li, .blog_container ul li {
        margin-left: 40px;
    }
    .heart_container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_img_link {
        font-size: .7rem;
    }
}