.icon_list {
    list-style: none;
    cursor: pointer;
    margin: auto;
}

.icons {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    color: #000000;
    margin: auto;
}

.footer {
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    margin: auto;
}

.facebook:hover {
    color: var(--facebook);
}

.twitter:hover {
    color: var(--twitter);
}

.instagram:hover {
    color: var(--instagram);
}

.pintrest:hover {
    color: var(--pintrest)
}

@media screen and (min-width:480px) {
    .footer {
        width: 20px;
        height: 20px;
        font-size: 1rem;
    }
}